#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #ddd;

  -webkit-box-shadow: -11px 10px 10px -3px rgba(0,0,0,0.66);
  -moz-box-shadow: -11px 10px 10px -3px rgba(0,0,0,0.66);
  box-shadow: -11px 10px 10px -3px rgba(0,0,0,0.66);
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 0.5rem;
}

.full-screen-image {
  margin: 5rem;
  width: 90%;
  height: 90%;
  object-fit: contain;
}